.card-flex {
  display: flex;
  justify-content: space-between;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;

  &.--center {
    justify-content: center;
  }
}

.grey-off {
  ion-icon {
    color: grey;
  }
}

.new-add-modal {
  position: static;
  z-index: 90;
  width: 100%;
  height: calc(100% - 56px);
  bottom: 0;
  background-color: var(--background);
}

.required-text {
  font-size: 12px;
  color: grey;
}

.add-workout-bton-container {
  display: flex;
  ion-button {
    font-size: 13px;
    flex-grow: 1;
  }
}

#timerHTML {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.card-header {
  margin-top: 7px;
}

.max-width-content {
  max-width: 72%;
}

ion-header {
  z-index: 100;
}

.late-text {
  color: #da5a5a;
}

