<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> OpenTrackFit </ion-title>

    <ion-buttons slot="primary">
      <ion-button class="grey-off" (click)="toggleMoonlight()">
        <ion-icon slot="icon-only" name="moon"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="!inEdit && !timerActive"
        color="primary"
        (click)="toggleNew()"
        [ngClass]="{'grey-off': !newActive}"
      >
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OpenTrackFit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="workoutNames.length === 0 && !newActive" [@helpCardIn] style="height: 50px">
    <ion-card-content style="text-align: center">
      <h2>Click the + button to add a workout</h2>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!newActive && !timerActive" [@cardAnimation]="workoutNames.length">
    <ion-card *ngFor="let item of workoutNames" >
      <ion-card-content class="card-flex">
        <div class="max-width-content">
          <h1 class="card-header">{{item.name}}</h1>
          <div *ngIf="getDifferenceBetweenTimes(item.originDate) !== 0">
            <p *ngIf="item.sets || item.reps">
              <span *ngIf="item.sets">Sets: {{item.sets - item.setsDone}}</span
              ><span *ngIf="item.sets && item.reps"> | </span
              ><span *ngIf="item.reps">Reps: {{item.reps}}</span>
            </p>
            <p *ngIf="item.weight">Weight: {{item.weight}}</p>
            <p *ngIf="item.countdown">
              Time: {{item.countdown}} minutes<span *ngIf="item.timeLeft">
                ({{ item.timeLeft }} left)</span
              >
            </p>
            <p
              [ngClass]="{'late-text': ((item.days / this.getDifferenceBetweenTimes(item.originDate)) <= 1)}"
            >
              Days since: {{getDifferenceBetweenTimes(item.originDate)}}
              ({{item.days}} max)
            </p>

            <p *ngIf="item.notes" >{{ item.notes }}</p>
          </div>
        </div>
        <div
          class="vertical-buttons"
          *ngIf="getDifferenceBetweenTimes(item.originDate) !== 0"
        >
          <ion-button (click)="itemDone(item.name)">Done</ion-button>
          <div *ngIf="item.sets">
            <ion-button color="dark" (click)="itemSetSubtraction(item.name)"
              >-</ion-button
            ><ion-button
              color="dark"
              (click)="itemSetAddition(item.name)"
              [disabled]="item.setsDone === 0"
              >+</ion-button
            >
          </div>
          <ion-button
            color="dark"
            *ngIf="item.countdown"
            (click)="beginTimer(item.name)"
            >Timer</ion-button
          >
          <ion-button color="dark" (click)="editItem(item.name)"
            >Edit</ion-button
          >
        </div>
        <div
          class="vertical-buttons"
          *ngIf="getDifferenceBetweenTimes(item.originDate) === 0"
        >
          <ion-button color="dark" (click)="itemRestart(item.name)"
            >Restart</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="new-add-modal" *ngIf="newActive" [@inOutAnimation]>
    <ion-card>
      <ion-item>
        <ion-label position="stacked">*Name</ion-label>
        <ion-input
          placeholder="What will you call this workout?"
          [(ngModel)]="newName"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Reps</ion-label>
        <ion-input
          type="number"
          placeholder="Number of reps"
          [(ngModel)]="newReps"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sets</ion-label>
        <ion-input
          type="number"
          placeholder="Number of sets"
          [(ngModel)]="newSets"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Weight</ion-label>
        <ion-input
          type="number"
          placeholder="How heavy?"
          [(ngModel)]="newWeight"
        ></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group
          (ionChange)="radioChange($event)"
          [(ngModel)]="useMetric"
        >
          <ion-item>
            <ion-label>kg</ion-label>
            <ion-radio slot="start" value="true"> </ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>lbs</ion-label>
            <ion-radio slot="start" value="false"></ion-radio>
          </ion-item> </ion-radio-group
      ></ion-list>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Time </ion-label>
        <ion-input
          type="number"
          placeholder="How long in minutes"
          [(ngModel)]="newCountdown"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked">*Days (default 3)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="newDays"
          placeholder="Max number of days to pass between"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-input
          placeholder="Anything you'll forget?"
          [(ngModel)]="newNotes"
        ></ion-input>
      </ion-item>
      <ion-item><p class="required-text">*required</p></ion-item>
    </ion-card>
    <ion-card class="add-workout-bton-container">
      <ion-button color="danger" (click)="deleteWorkout()" *ngIf="inEdit"
        >Remove</ion-button
      >
      <ion-button color="dark" (click)="clearAddWorkout()" *ngIf="!inEdit"
        >Clear</ion-button
      ><ion-button
        (click)="addNewWorkout()"
        [disabled]="!this.newName"
        *ngIf="!inEdit"
        >Add New Workout</ion-button
      ><ion-button
        (click)="saveChanges()"
        [disabled]="!this.newName"
        *ngIf="inEdit"
        >Save</ion-button
      ><ion-button (click)="cancelChanges()" color="dark"
        ><span *ngIf="!inEdit">Close</span
        ><span *ngIf="inEdit">Cancel</span></ion-button
      ></ion-card
    >
  </div>

  <div class="new-add-modal" *ngIf="timerActive" [@inOutAnimation]>
    <ion-card>
      <h1 id="timerHTML">GO!<br />--:--:--</h1>
    </ion-card>

    <ion-card class="add-workout-bton-container">
      <ion-button (click)="stopTimer()" color="dark">Stop</ion-button></ion-card
    >
  </div>
</ion-content>
